/*
#tlo {
    height:100vh;
    width: 100%;
    background-image: url(../images/dog.jpg);
    background-position: 300px 300px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
*/

#contain_cover {
    width: 200px;
    height: 100px;
    background-image: url(../images/dog.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    border: 5px red solid;
}
